.dashboard-sidebar {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 13%;
  height: 100vh;
  transition: width 0.3s ease;
  overflow-y: auto;
}

.dashboard-sidebar.collapsed {
  width: 50px;
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 25px 20px;
  border-bottom: 1px solid var(--white-25);
}

.header-section img {
  width: 65%;
}

.header-section .icon {
  color: var(--white);
  cursor: pointer;
}

.icon.disabled {
  opacity: 0.4;
  pointer-events: none;
  cursor: default;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 25px;
}

.dashboard-sidebar.collapsed .sidebar-nav {
  padding: 0 10px;
}

.sidebar-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar-label {
  font-size: 12px;
  font-weight: 600;
  color: var(--white-50);
  margin-bottom: 5px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
  font-size: 14px;
  cursor: pointer;
  padding: 8px 25px;
  margin-left: -25px;
  margin-right: -25px;
  transition: background 0.2s ease;
  position: relative;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-item.active {
  background-color: var(--primary-color-hover);
}

.sidebar-icon {
  width: 18px;
  margin-bottom: 2px;
}

.badge {
  background-color: orange;
  color: white;
  font-size: 10px;
  border-radius: 999px;
  padding: 2px 6px;
  position: absolute;
  right: 20px;
}