* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: 'Poppins', sans-serif;

  --primary-color: #18314F;
  --primary-color-hover: #163d75;

  --secondary-color: #058ED9;

  --white: #F7F9FC;
  --black: #1f1f1f;
  --red: #FF6542;
}


body {
  font-family: var(--main-font) !important;
  background-color: var(--white);
  color: var(--black);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: var(--main-font) !important;
}